/* The switch - the box around the slider */
html,
body {
    min-width: 300px;
    min-height: 420px;
    max-width: 300px;
    max-height: min-content;
    margin: 8px;
}

body {
    margin: auto;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: "Rye", serif;
    font-weight: 600;
    font-style: normal;
}

p {
    margin: 10px 0;
}

/* Text Input */
textarea {
    width: 70%;
    min-height: 80px;
    padding: 12px;
    margin: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #333;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
    resize: vertical;
}

textarea:focus {
    border-color: #007bff;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

textarea::placeholder {
    color: #999;
    opacity: 0.4;
}


/* Submit Button */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin: 2px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}